In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(io="KQGD-20210922.xls",sheet_name="Sheet1",index_col=1)

In [3]:
df1 = df.iloc[15:,[2,4,17]]
df1.columns = ['tickers','close','Von_hoa']
#df1
type(df1['Von_hoa'][2])

int

In [4]:
pd.options.display.float_format = '{:,.2f}'.format
df1.head().style.format("{:,.0f}")
df1['Von_hoa'] = df1["Von_hoa"].astype(float)
df1.sort_values(by='Von_hoa',axis=0,ascending=False)[:20]

    tickers  close        Von_hoa
370     VCB  98.40 365,324,429.00
381     VIC  85.60 326,487,429.00
379     VHM     78 259,922,280.00
160     HPG  50.80 227,671,766.00
392     VNM  88.50 190,394,941.00
320     TCB  50.90 176,296,783.00
218     MSN    145 174,364,974.00
129     GAS  88.50 170,724,340.00
395     VPB  66.90 163,991,292.00
29      BID  39.60 159,674,116.00
232     NVL 102.90 151,486,658.00
65      CTG  31.40 151,140,857.00
139     GVR  36.50 147,000,000.00
210     MBB     28 105,415,178.00
275     SAB 158.50 101,835,452.00
219     MWG    124  89,612,254.00
6       ACB  31.80  85,651,754.00
116     FPT  93.20  84,485,389.00
386     VJC 123.50  66,726,516.00
402     VRE  28.40  64,874,691.00