In [1]:
from selenium import webdriver
#from selenium.webdriver.common.desired_capabilities import DesiredCapabilities
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import pandas as pd
#import csv
import time
#class get_index()
chrome_options = Options()
chrome_options.add_argument('ignore-certificate-errors') #Configure chrome options
chrome_options.add_argument('--headless')

In [43]:
VN100 = 'https://www.hsx.vn/Modules/Listed/Web/StockIndexView/188803177'
VN30 = 'https://www.hsx.vn/Modules/Listed/Web/StockIndexView/1964531007'
VNALL = 'https://www.hsx.vn/Modules/Listed/Web/StockIndexView/951937685'
VNMID = 'https://www.hsx.vn/Modules/Listed/Web/StockIndexView/699240157'
VNSI = 'https://www.hsx.vn/Modules/Listed/Web/StockIndexView/'
VNSML = 'https://www.hsx.vn/Modules/Listed/Web/StockIndexView/434493689'

In [3]:
url = VNSML

In [48]:
def get_stock_list(url):
    drive = webdriver.Chrome(options=chrome_options)
    drive.get(url)
    #WebDriverWait(drive,20)
    time.sleep(15)
    #tbl = drive.find_element_by_id('hose-indecies-grid').get_attribute('outerHTML')
    tbl = drive.find_element_by_xpath('//*[@id="gview_hose-indecies-grid"]/div[3]').get_attribute('outerHTML')
    df = pd.read_html(tbl)
    drive.quit()
    df = df[0]
    df = df.drop([0])
  #  cols = [1,4]
    df = df[df.columns[[1,4]]]
    df.columns = ['sticker','name']
    df.drop_duplicates(subset='sticker',keep='first')
    return df

In [35]:
x = get_stock_list(url)

In [37]:
VNSML_data = get_stock_list(VNSML)

In [39]:
VNSML_data.to_csv('VNSML_list.csv')

In [40]:
VNMID_data = get_stock_list(VNMID)

In [41]:
VNMID_data.head()

  sticker                                               name
1     AAA                  Công ty Cổ phần Nhựa An Phát Xanh
2     ANV                           Công ty Cổ phần Nam Việt
3     ASM                   Công ty Cổ phần Tập đoàn Sao Mai
4     AST          Công ty Cổ phần Dịch vụ Hàng không Taseco
5     BIC  Tổng Công ty Bảo hiểm Ngân hàng Đầu tư và Phát...

In [42]:
VNMID_data.to_csv("VNMID_list.csv")

In [47]:
VN100_data = get_stock_list(VN100)
VN100_data.head()
VN100_data.to_csv('VN100_list.csv')

In [49]:
VN100_data.drop_duplicates(subset='sticker',keep='first')

    sticker                                               name
1       AAA                  Công ty Cổ phần Nhựa An Phát Xanh
2       ANV                           Công ty Cổ phần Nam Việt
3       ASM                   Công ty Cổ phần Tập đoàn Sao Mai
4       AST          Công ty Cổ phần Dịch vụ Hàng không Taseco
5       BIC  Tổng Công ty Bảo hiểm Ngân hàng Đầu tư và Phát...
..      ...                                                ...
128     VNM                       Công ty Cổ phần Sữa Việt Nam
130     VPB                Ngân hàng TMCP Việt Nam Thịnh Vượng
132     VPI            Công ty Cổ phần Đầu tư Văn Phú - Invest
134     VRE                      Công ty Cổ phần Vincom Retail
136     YEG                     Công ty Cổ phần Tập đoàn Yeah1

[100 rows x 2 columns]